.searchbar {
  position: absolute;
  left: 45%;
  width: 10%;
}

.metasyntactic {
  column-count: 2;
}

.metasyntactic__list {
  list-style: none;
}

.metasyntactic__item {
  display: inline-block;
}
